{% extends "general/index.html" %}


{% block header%}
<script>

    const play = function(device_id){
        camStates['device_id'] = "playing"
        playing = device_id;
        document.getElementById("video-"+device_id).src = "{{ url_for('monitoring.video_feed') }}?id="+device_id;
    };

    const pause = function(device_id){
        document.getElementById("video-"+device_id).src = "{{ url_for('monitoring.video_preview') }}?id=" + device_id;
    };

    const openCam = function(deviceId){
        window.open("{{url_for('general.monitor')}}"+"?id="+deviceId);
    };

</script>
{% endblock %}

{% block page %}

<div id="monitor">
    {% for h_cams in cams %}
    <div class="monitor-cams">
        {% for cam in h_cams %}
        <div class="monitor-cam-group" style="width:{{100/(h_cams|length)/1.2}}%; height: 100%;">
            <div class="monitor-cam">{{cam.name}}</div>
            <div class="monitor-cam">
                <img class="monitor-cam-view" id="video-{{ cam.device_id }}"
                     src="{{ url_for('monitoring.video_preview') }}?id={{ cam.device_id }}"
                     onclick="openCam({{cam.device_id}})">
            </div>
            <div class=" monitor-cam-ctrl">
                <button onclick="play({{ cam.device_id }})">Play</button>
                <button onclick="pause({{ cam.device_id }})">Pause</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>

    {% endfor %}
</div>
{% endblock %}