<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Home</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id="mainMenu" style="width:100%">
    <table style="width:100%" id="mainNavigation">
        <tr>
            {% for item in menu %}
            <th ><a href = "{{url_for(item.page)}}")>{{item.caption}}</a></th>
            {%endfor%}
        </tr>
    </table>
</div>

{% block page %}
{% endblock %}
</body>
</html>