<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block header %}
    {% endblock %}
</head>
<body>

<div id="menu-container">
    <div id="menu-top">
        <div id="logo-main" class="inline">
            @Home...
        </div>
        <div id="logo-sub" class="inline">
            Welcome Home
        </div>
        <div id="login" class="inline">
            Log in
        </div>
    </div>

    <div id="menu-navigation">
        {% for item in menu %}
        <div class="menu-item">
            <a class="menu-item" href="{{url_for(item.page)}}" )>{{item.caption}}</a>
        </div>
        {%endfor%}
    </div>
</div>

<div id="main-content">
    {% block page %}
    {% endblock %}
</div>
</body>
</html>